<h2 class="lugar">QUILMES</h2>
<p>Horarios de atenci칩n: Lunes a s치bados de 10:00 a 19:00 hrs.</p>
<div class="imglocal"><img src="images/kokolocal.jpg" alt="local"></div>
<div class="imglocal">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.3986525116748!2d-58.259177482556154!3d-34.720344499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e3ffa8a5fcb%3A0xa0d5ba6586fcdb77!2sAlmte.%20Brown%20518%2C%20B1878FWL%20Quilmes%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1670110412180!5m2!1ses-419!2sar"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<h2 class="lugar">BERNAL</h2>
<p>Horarios de atenci칩n: Lunes a s치bados de 10:00 a 19:00 hrs.</p>
<div class="imglocal"><img src="images/kokolocal.jpg" alt="local"></div>
<div class="imglocal"><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.7185327326174!2d-58.28312268255615!3d-34.7122786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32dfe1b2426b7%3A0x38a7bc09fd6ca7ce!2sBelgrano%20350%2C%20Bernal%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1670110738131!5m2!1ses-419!2sar"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe></div>

<div class="mensajes">

        <section class="mensajeria">
                <form action="/contacto" method="post" class="formulario">
                        <h4>ENVIANOS TU MENSAJE</h4>
                        NOMBRE
                        <input class="controles" type="text" name="NOMBRE" id="nombres" placeholder="">
                        EMAIL
                        <input class="controles" type="email" name="EMAIL" id="EMAIL" placeholder="">
                        TELEFONO
                        <input class="controles" type="text" name="TELEFONO" id="TELEFONO" placeholder="">
                        MENSAJE
                        <textarea class="controlesmensaje" name="MENSAJE" id="MENSAJE" placeholder="Envianos tu mensaje"
                                cols="30" rows="10"></textarea>

                        <input class="boton" type="submit" value="ENVIAR" id="boton">
                </form>
                <p>{{message}}</p>

        </section>
</div>

<div class="redes">

        <div class="cajaredes"><i class="fa-brands fa-square-instagram"></i><a
                        href="https://www.instagram.com/koko.indumentaria/" target="_blank">Siguenos en Instagram</a>
        </div>
        <div class="cajaredes"><i class="fa-brands fa-facebook"></i><a
                        href="https://www.facebook.com/profile.php?id=100068420472190" target="_blank">Siguenos en
                        Facebook</a></div>
        <div class="cajaredes"><i class="fa-brands fa-tiktok"></i><a href="https://www.tiktok.com/@koko.indumentaria"
                        target="_blank">Siguenos en Tiktok</a></div>
        <div class="cajaredes"><i class="fa-brands fa-pinterest"></i><a
                        href="https://ar.pinterest.com/koko_indumentaria/_saved/" target="_blank">Siguenos en
                        Pinterest</a>
        </div>
        <div class="cajaredes"><i class="fa-solid fa-phone"></i><a href="">1173687884</a></div>
        <div class="cajaredes"><i class="fa-solid fa-envelope"></i><a href="">koko.indumentaria518@gmail.com</a>
        </div>
</div>