<div class="slider">
            <ul>
                <li><img src="images/slider 1.png" alt=""></li>
                <li><img src="images/slider 2.png" alt=""></li>
                <li><img src="images/slider 3.png" alt=""></li>
            </ul>
        </div>
        <div class="columnas">
            <div class="inercolumnas">
                <i class="fa-solid fa-truck"></i>
                <a href="/mediosdepago">ENVIAMOS TU COMPRA <div class="letras">Entregas a todo
                        el pais</div> </a>
            </div>
            <div class="inercolumnas">
                <i class="fa-regular fa-credit-card"></i>
                <a href="/mediosdepago">PAGÁ COMO QUIERAS <div class="letras">Tarjetas de crédito 3 o 6
                        cuotas
                        sin interés</div></a>
            </div>
            <div class="inercolumnas">
                <i class="fa-solid fa-dollar-sign"></i>
                <a href="/mediosdepago">TRANSFERENCIA BANCARIA <div class="letras">Obtene un 15% de
                        descuento
                    </div></a>
            </div>

        </div>


        <h2>BIENVENIDA A KOKO</h2>
        <H2 class="h22">Eperamos que puedas encontrar tu prenda ideal!</H2>

