
<h2>MEDIOS DE PAGO</h2>
        <h3> <span>&#8226;</span> Transferencia bancaria </h3>
        <p class="mediosdepagop">Si elegis realizar tu compra por medio de tranferencia bancaria es muy importante que
            coloques bien tus
            datos, asi nosotras nos podemos poner en contacto con vos y enviarte la informaci칩n necesaria para que
            puedas realizar el pago exitosamente.
        </p>

        <h3> <span>&#8226;</span> Tarjeta de credito (3 cuotas sin interes) </h3>
        <p class="mediosdepagop"> Si queres realizar la compra con tu tarjeta de credito (visa - mastercard - cabal) en
            3
            cuotas sin interes, contactanos por Instagram y nosotras te vamos a enviar un link para que vos puedas
            completar tus datos y asi realizar el pago exitosamente. </p>



        <h2>MEDIOS DE ENVIO</h2>
        <h3> <span>&#8226;</span> Moto </h3>
        <p class="mediosdepagop">En el caso de que prefieras realizar el envio con moto, al momento de realizar la
            compra elegi la opci칩n "retiro por el local" y luego comunicate con nosotras por medio de Instagram para
            poder pactar el envio.</p>
        <p class="mediosdepagop">Los envios con moto llegan dentro de las 48 hrs. y se realizan unicamente para las
            siguientes ciudades</p>

            <h3> <span>&#8226;</span> Correo Argentino</h3>
        <p class="mediosdepagop">En el caso de que prefieras realizar el envio con Correo Argentino completa tus datos al momento de realizar
            la compra y mas tarde nos comunicaremos con vos para enviarte el codigo de seguimiento asi podes chequear el
            estado de tu envio. </p>

        <h3 class="capi">CAPITAL FEDERAL en su totalidad $800</h3>


        <table class="table table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">SUR</th>
                    <th scope="col">$</th>
                    <th scope="col">OESTE</th>
                    <th scope="col">$</th>
                    <th scope="col">NORTE</th>
                    <th scope="col">$</th>
                    <th scope="col">NOROESTE</th>
                    <th scope="col">$</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Adrogue</td>
                    <td>$600</td>
                    <td>Aldo Bonzi</td>
                    <td>$1.000</td>
                    <td> Acasusso</td>
                    <td>$900</td>
                    <td>Bella Vista</td>
                    <td>$ 1.100</td>
                </tr>
                <tr>
                    <td>A. Korn</td>
                    <td>$1.000</td>
                    <td>Castelar</td>
                    <td>$900</td>
                    <td>Beccar</td>
                    <td>$1.000</td>
                    <td>Caseros</td>
                    <td>$900</td>

                </tr>
                <tr>
                    <td>Avellaneda</td>
                    <td>$500</td>
                    <td>Ciudad Evita</td>
                    <td>$1.000</td>
                    <td>Benavidez</td>
                    <td>$1.200</td>
                    <td>Grandbourg</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>Banfield</td>
                    <td>$600</td>
                    <td>Ciudadela</td>
                    <td>$900</td>
                    <td>Boulogne</td>
                    <td>$100</td>
                    <td>Hurlingham</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Berazategui</td>
                    <td>$500</td>
                    <td>F. Alvarez</td>
                    <td>$1.100</td>
                    <td>Carapachay</td>
                    <td>$900</td>
                    <td>Jose C. Paz</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>Bernal</td>
                    <td>$450</td>
                    <td>G. Catan </td>
                    <td>$1.100 </td>
                    <td>Del Viso</td>
                    <td>$1.100</td>
                    <td>J. Ingenieros</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Berisso</td>
                    <td>$1.200</td>
                    <td>G. Rodriguez</td>
                    <td>$1.100</td>
                    <td>D. Torcuato</td>
                    <td>$1.100</td>
                    <td>J.L.Suarez</td>
                    <td>$1.000</td>
                </tr>
                <tr>
                    <td>Bosques</td>
                    <td>$600</td>
                    <td>Haedo</td>
                    <td>$900</td>
                    <td>Escobar</td>
                    <td>$1.300</td>
                    <td>Loma Hermosa</td>
                    <td>$1.000</td>
                </tr>
                <tr>
                    <td>Burzaco</td>
                    <td>$600</td>
                    <td>I. Casanova</td>
                    <td>$1.000</td>
                    <td>Florida</td>
                    <td>$900</td>
                    <td>Malvinas Arg.</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>Canning</td>
                    <td>$1.100</td>
                    <td>Ituzaingo</td>
                    <td>$900</td>
                    <td>Garin</td>
                    <td>$1.100</td>
                    <td>M. Coronado</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Ca침uelas</td>
                    <td>$1.600</td>
                    <td>La Tablada</td>
                    <td>$1.000</td>
                    <td>I.Mazchwitz</td>
                    <td>$1.200</td>
                    <td>Palomar</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Claypole</td>
                    <td>$500</td>
                    <td>La Ferrere</td>
                    <td>$1.000</td>
                    <td>La Lucila</td>
                    <td>$900</td>
                    <td>Pablo Nogues</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>Dock Sud</td>
                    <td>$500</td>
                    <td>La Matanza</td>
                    <td>$1.000</td>
                    <td>Martinez</td>
                    <td>$900</td>
                    <td>P. Podesta</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Don Bosco</td>
                    <td>$450</td>
                    <td>La Reja</td>
                    <td>$1.000</td>
                    <td>Munro</td>
                    <td>$900</td>
                    <td>Polvorines</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>El Pato</td>
                    <td>$600</td>
                    <td>Libertad</td>
                    <td>$1.000</td>
                    <td>Nordelta</td>
                    <td>$1.300</td>
                    <td>San Martin</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>El Jaguel</td>
                    <td>$900</td>
                    <td>L. del Mirador</td>
                    <td>$900</td>
                    <td>Olivos</td>
                    <td>$900</td>
                    <td>San Miguel</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>Ensenada</td>
                    <td>$1.100</td>
                    <td>Lujan</td>
                    <td>$1.300</td>
                    <td>Pacheco</td>
                    <td>$1.100</td>
                    <td>Stos Lugares</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Ezeiza</td>
                    <td>$1.100</td>
                    <td>Marcos Paz</td>
                    <td>$1.200</td>
                    <td>Parq.Ind.Pilar</td>
                    <td>$1.200</td>
                    <td>V. Ballester</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Ezpeleta</td>
                    <td>$400</td>
                    <td>M. Acosta</td>
                    <td>$1.200</td>
                    <td>Pilar</td>
                    <td>$1.100</td>
                    <td>Villa Bosch</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Fcio. Varela</td>
                    <td>$600</td>
                    <td>Maximo Paz</td>
                    <td>$1.200</td>
                    <td>S.Fernando</td>
                    <td>$1.100</td>
                    <td>Villa Lynch</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Gerli</td>
                    <td>$500</td>
                    <td>Merlo</td>
                    <td>$1.000</td>
                    <td>San Isidro</td>
                    <td>$1.000</td>
                    <td>Villa Tesei</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Glew</td>
                    <td>$800</td>
                    <td>Moreno</td>
                    <td>$1.100</td>
                    <td>Tigre</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>Guernica</td>
                    <td>$800</td>
                    <td>Moron</td>
                    <td>$900</td>
                    <td>Tortuguitas</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>Gutierrez</td>
                    <td>$600</td>
                    <td>Mu침iz</td>
                    <td>$1.100</td>
                    <td>V. Lopez</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Hudson</td>
                    <td>$600</td>
                    <td>Paso del Rey</td>
                    <td>$1.300</td>
                    <td>Victoria</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>Ing. Alan </td>
                    <td>$600</td>
                    <td>Pontevedra</td>
                    <td>$1.200</td>
                    <td>V. Delina</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Ing. Budge</td>
                    <td>$800</td>
                    <td>Pte. Derqui</td>
                    <td>$1.100</td>
                    <td>V. Martelli</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Jose Marmol</td>
                    <td>$600</td>
                    <td>R. Castillo</td>
                    <td>$1.100</td>
                    <td>Virrey Del Pino</td>
                    <td>$1.300</td>
                </tr>
                <tr>
                    <td>La Plata</td>
                    <td>$1.000</td>
                    <td>Ramos Mejia</td>
                    <td>$900</td>
                    <td>Virreyes</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>Lanus</td>
                    <td>$600</td>
                    <td>S.A.de Padua</td>
                    <td>$1.000</td>
                </tr>
                <tr>
                    <td>Lavallol</td>
                    <td>$800</td>
                    <td>San Justo</td>
                    <td>$1.000</td>
                </tr>
                <tr>
                    <td>L.de Zamora</td>
                    <td>$700</td>
                    <td>Tapiales</td>
                    <td>$1.000</td>
                </tr>
                <tr>
                    <td>Longchamps</td>
                    <td>$600</td>
                    <td>Villa Celina</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Luis Guillon</td>
                    <td>$900</td>
                    <td>Villa Madero</td>
                    <td>$1.000</td>
                </tr>
                <tr>
                    <td>Melchor Romero</td>
                    <td>$1.000</td>
                    <td>W. Morris</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>M. Grande</td>
                    <td>$900</td>
                </tr>
                <tr>
                    <td>Quilmes</td>
                    <td>$400</td>
                </tr>
                <tr>
                    <td>R.Calzada</td>
                    <td>$600</td>
                </tr>
                <tr>
                    <td>Ranelagh</td>
                    <td>$600</td>
                </tr>
                <tr>
                    <td>San Vicente</td>
                    <td>$1.000</td>
                </tr>
                <tr>
                    <td>Sarandi</td>
                    <td>$ 500</td>
                </tr>
                <tr>
                    <td>Solano</td>
                    <td>$500</td>
                </tr>
                <tr>
                    <td>Spegazzini</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>Temperley</td>
                    <td>$600</td>
                </tr>
                <tr>
                    <td>Tristan Suarez</td>
                    <td>$1.100</td>
                </tr>
                <tr>
                    <td>Turdera</td>
                    <td>$600</td>
                </tr>
                <tr>
                    <td>V. Alsina</td>
                    <td>$700</td>
                </tr>
                <tr>
                    <td>V. Dominico</td>
                    <td>$500</td>
                </tr>
                <tr>
                    <td>Wilde</td>
                    <td>$500</td>
                </tr>
            </tbody>
        </table>
