<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/consultas_2">Consultas</a></li>
      <li><a href="/catalogo">catalogo</a></li>
      <li><a href="/servicios">Servicios</a></li>
      <li><a href="/google">Me quiero ir a Google</a></li>
    </ul>
  </nav>
  {{{body}}}
</body>

</html>